@model IEnumerable<Tawzef.Models.Category>
@{
    ViewBag.Title = "الصفحة الرئيسيه";
}
<div style="margin-bottom:300px">
@foreach (var item in Model)
{
    if (item.Jobs.Count() > 0)
    {
        <h1>@Html.DisplayFor(z => item.CategoryName)</h1>
        <h5>@Html.DisplayFor(z => item.CategoryDescription)</h5>
    }
    <div class="row text-center">
        @foreach (var subItem in item.Jobs)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img style="max-height: 225px; height: 225px;" class="card-img-top" src="~/UPloads/@subItem.JobImage" />
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(z => subItem.JobTitle)</h4>
                        <p class="card-text">@Html.DisplayFor(z => subItem.JobContent)</p>
                    </div>
                    <div class="card-footer">
                        <a href="@Url.Action("Details","Home",new { JobId = subItem.Id })" class="btn btn-primary">التفاصيل</a>
                    </div>
                </div>
            </div>
        }
    </div>
  
}
</div>